<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title><%= book.id %></title>
</head>
<body style="font-family: montserrat;">
    <h1 style="font-family: montserrat; color: cornflowerblue;"><%= book.name %></h1>
    <p>Author: <%= book.author %></p>
    <p>Year: <%= book.year %></p>
    <a href="/bookList">Back to book list</a>
</body>
</html>